<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/play.css">
  <title>
    <%= title %> >
  </title>
</head>

<body>
  <div class="mt-3 mx-2">
    <a href="/logout" class="backtohome"><i class="bi bi-chevron-left"></i>
      <h1 class="d-inline nav"><img src="../img/logo1.png" class="logo" alt=""> ROCK PAPER SCISORS</h1>
    </a>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-center text-center mt-5">
      <div class="col-lg-2 my-auto mx-auto">
        <h1 class="mb-5 title">PLAYER 1</h1>
        <div id="player">
          <img src="../img/batu.png" data-type="batu" class="done gone">
          <img src="../img/kertas.png" data-type="kertas" class="kertas done gone">
          <img src="../img/gunting.png" data-type="gunting" class="gunting done gone">
        </div>
      </div>
      <div class="col-lg-2 mx-auto my-auto">
        <h1 class="vs gone">VS</h1>
      </div>
      <div class="col-lg-2 my-auto mx-auto">
        <h1 class="mb-5 title">COMP</h1>
        <div id="computer">
          <img src="../img/batu.png" data-type="batu" class="done gone">
          <img src="../img/kertas.png" data-type="kertas" class="done gone">
          <img src="../img/gunting.png" data-type="gunting" class="done gone">
        </div>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-lg-12 refresh text-center">
        <img src="../img/refresh.png" alt="" class="reset">
      </div>
    </div>
  </div>

  <script src="javascript/play.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
</body>

</html>